@model IEnumerable<Category>

<h4>Manage Categories</h4>

<form asp-controller="Category" asp-action="Add" method="post" asp-area="Admin">

	<div class="row mb-5 mt-5">
		
		<label for="catName" class="col-sm-1 col-form-label col-form-label-sm">Category Name</label>
		<div class="col-sm-3">
			<input type="text" name="catName" class="form-control form-control-sm" id="catName" placeholder="Category Name" />
			<button type="submit" class="btn btn-primary">Add Category</button>
		
		</div>

	</div>
</form>

	@foreach (var cat in Model)
	{
		<tr>
			<td>@cat.Name</td>
			<td>
				<form method="post" asp-controller="Category" asp-action="Delete" asp-route-id="@cat.CategoryId">
					<button type="submit" class="btn btn-danger">Delete Role</button>
				</form>
			</td>
		</tr>
	}
